name: Deploy

on:
  push:
    branches:
      - main
jobs:
 deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v2


      - name: Instalar dependências Node.js
        run: |
          npm install
